// Will be manually compiling SCSS for now
// and configure webpack as deployment nears.

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 80%;
	max-width: 1200px;
	margin: auto;
}