<% if (typeof successMsg !== 'undefined') { %>
	<div class="alert success">
		<strong><%= successMsg %></strong>
	</div>
<% } %>

<% if (typeof errorMsg !== 'undefined') { %>
	<div class="alert error">
		<strong><%= errorMsg %></strong>
	</div>
<% } %>