strong {
	font-weight: 700 !important;
}

// textarea {
// 	background-color: #e2e2e2;
// 	border: none;
// 	border-radius: 0;
// 	outline: none;
// 	height: 3rem;
// 	width: 100%;
// 	font-size: 16px;
// 	margin-top: 8px;
// 	box-shadow: none;
// 	box-sizing: content-box;
// 	transition: box-shadow .3s, border .3s;
// }

// .input-field.col label.textarea-label {
// 	color: green;
// 	font-size: 1.25rem;
// }

#brand-logo {
	font-size: 1.5rem;
}

.error {
	color: #b30000;
}

.alert {
	margin: 2.8rem 0;
	padding: 0.75rem;
	border: 2px solid;
	border-radius: 3px;
	color: #eeeeee;
	&.success {
		background-color: #17a11e;
		border-color: #117516;
	}
	&.error {
		background-color: #b30000;
		border-color: #5c0202;
	}
}

#submitQuote .row {
	@media screen and (min-width: 601px) {
		display: flex;
		align-items: center;
	}
}