strong {
	font-weight: 700 !important;
}

#brand-logo {
	font-size: 1.5rem;
}

.helper-text.error {
	color: #b30000;
	display: block;
}

.alert {
	margin: 2.8rem 0;
	padding: 0.75rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 2px solid;
	border-radius: 3px;
	color: #eeeeee;
	&.success {
		background-color: #17a11e;
		border-color: #117516;
	}
	&.error {
		background-color: #b30000;
		border-color: #5c0202;
	}
	&.fade-out {
		animation: fade-out 500ms forwards;
	}
	button {
		font-size: 1.75rem;
		color: inherit;
	}
}

#submitQuote .row {
	@media screen and (min-width: 601px) {
		display: flex;
		align-items: center;
	}
}

.quote {
	.body {
		font-size: 1.25rem;
		display: flex;
		justify-content: space-between;
		.secondary-content {
			display: inherit;
			flex-direction: column;
			i {
				display: block;
			}
		}
	}
	.details {
		display: flex;
		justify-content: space-between;
		font-size: 0.9rem;
		.author {
			font-style: italic;
		}
		.author::before {
			content: '— ';
		}
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	} to {
		opacity: 0;
		display: none;
	}
}