<h1>Quotes</h1>
<%- include ../partials/messages %>
<div class="fixed-action-btn">
	<a class="btn-floating btn-large red modal-trigger waves-effect waves-circle" href="#submitQuote" role="button">
		<i class="large material-icons">add</i>
	</a>
</div>

<form id="submitQuote" class="modal" method="POST" action="/quotes">
	<div class="modal-content">
		<h5>Create New Quote</h5>
		<div class="row">
			<span class="input-field col s12 m12">
				<textarea id="i_quote" class="materialize-textarea validate" name="quote" type="text" maxlength="200"></textarea>
				<label for="i_quote" class="textarea-label">New Quote</label>
				<span class="helper-text right">200</span>
			</span>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn-flat waves-effect waves modal-close" type="button" role="button">Cancel</button>
		<button class="btn-flat waves-effect waves-teal disabled" type="submit" role="button" disabled>Submit</button>
	</div>
</form>

<% if (typeof JSON.parse(quotes) !== 'undefined' && JSON.parse(quotes).length !== 0) { %>
	<script> const quotes = <%- quotes %>; // ejs cannot access things in script namespace </script>
	<ul class="collection">
	<% JSON.parse(quotes).forEach((quote) => { %>
		<% include quote %>
	<% }); %>
	</ul>
<% } else { %>
	<h4>No quotes &#58;&#40; Will you be the first?</h4>
<% } %>

<script src="/js/quotes.js" defer></script>
<script src="/js/button_logic.js" defer></script>