<li class="quote collection-item">
	<% let userIsAuthor = currUser.displayName === quote.author; %>
	<div class="body">
		<%= quote.body %>
		<div class="secondary-content">
			<% if (!userIsAuthor) { %>
				<i class="small material-icons">remove_circle</i>
			<% } else { %>
				<!-- TODO: upvote/downvote buttons -->
				<i class="small material-icons">keyboard_arrow_up</i>
				<i class="small material-icons">keyboard_arrow_down</i>
			<% } %>
		</div>
	</div>
	<div class="details">
		<a class="author" href="/users/profile/<%= quote.author %>"><%= quote.author %></a>
		<span class="date"><%= quote.date %></span>
	</div>
</li>