<% if (typeof profile !== 'undefined') { %>
	<% const profileJSON = JSON.parse(profile); %>
	<script> const quotes = <%- profile %>.quotes; </script>
	<h1><%= profileJSON.username %></h1>
	<h5>&#40;<%= profileJSON.email %>&#41;</h5>
	<% if (profileJSON.quotes && profileJSON.quotes.length !== 0) { %>
		<h3>quotes</h3>
		<ul class="collection">
			<% profileJSON.quotes.forEach((quote) => { %>
				<% include ../quotes/quote %>
			<% }); %>
		</ul>
	<% } else { %>
		<h4>No quotes &#58;&#40;</h4>
	<% } %>
<% } else { %>
	<h1>Could not get profile</h1>
<% } %>

<script src="/js/button_logic.js" defer></script>