<% if (typeof profile !== 'undefined') { %>
	<script> const quotes = <%- profile %>.quotes; </script>
	<h1><%= JSON.parse(profile).username %></h1>
	<h5>&#40;<%= JSON.parse(profile).email %>&#41;</h5>
	<% if (JSON.parse(profile).quotes && JSON.parse(profile).quotes.length !== 0) { %>
		<h3>quotes</h3>
		<ul class="collection">
			<% JSON.parse(profile).quotes.forEach((quote) => { %>
				<% include ../quotes/quote %>
			<% }); %>
		</ul>
	<% } else { %>
		<h4>No quotes &#58;&#40;</h4>
	<% } %>
<% } else { %>
	<h1>Could not get profile</h1>
<% } %>

<script src="/js/button_logic.js" defer></script>