<% const inputErrorsExist = typeof errors !== 'undefined'; %>
<h1>Sign In</h1>
<%- include ../partials/messages %>
<form method="POST" action="/users/signin">
	<div class="row">
		<div class="input-field col s12">
			<input id="i_email" class="validate" name="email" type="text" value="<%= typeof email != 'undefined' ? email : '' %>">
			<label for="i_email">Email</label>
			<% if (inputErrorsExist && errors.email) { %>
				<span class="helper-text error"><%= errors.email %></span>
			<% } %>
		</div>
		<div class="input-field col s12">
			<input id="i_password" class="validate" name="password" type="password">
			<label for="i_password">Password</label>
			<% if (inputErrorsExist && errors.password) { %>
				<span class="helper-text error"><%= errors.password %></span>
			<% } %>
			<div>Don't have an account? <a href="/users/signup">Sign up.</a></div>
		</div>
		<div class="col s12">
			<button class="waves-effect waves-light btn right disabled" type="submit" disabled>Sign In</button>
		</div>
	</div>
</form>